<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">profile</a></li>
				<li><a href="/experience">experience</a></li>
				<li><a href="/skills">skills</a></li>
	        		<li><a href="/projects">projects</a></li>
				<li><a href="/contact">contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fen.cullen@gmail.com">fen.cullen@gmail.com</a></li>
	        		<li><a href="https://github.com/fen-cullen">github.com/fen-cullen</a></li>
				</ul>
			</footer>
		</body>
	</html>
